# LBS Configuration
VITE_LBS_TRIGGER_RADIUS=20
VITE_LBS_WATCH_OPTIONS_ENABLE_HIGH_ACCURACY=true

# Theme toggle hours (24h format)
VITE_DAY_START_HOUR=6
VITE_NIGHT_START_HOUR=18

# Puzzle settings
VITE_MAX_WRONG_ATTEMPTS=2
